.card-viewer {
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.viewer-img-container {
  height: 55vh;
  width: 100%;
}

.viewer-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.back {
  border: 1px solid transparent;
  transition: border 0.2s ease-in-out;
}

.player {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  cursor: pointer;
  border: 1px solid transparent !important;
  background-image: linear-gradient(white, white),
    linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.player i {
  font-size: 24px;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 992px) {
  .viewer-card {
    max-height: 75vh;
  }

  .viewer-img-container {
    height: 250px;
  }

  .card-container {
    margin-top: 7vh;
  }

  .viewer-card .card-title {
    font-size: 1.5rem;
  }

  .viewer-card .card-text {
    font-size: 1rem;
    max-height: 120px;
    overflow-y: auto;
  }

  .nav-link.back:focus,
  .nav-link.back:hover {
    border: 2px solid transparent !important;
    background-image: linear-gradient(white, white),
      linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 50px !important;
    transition: all 0.2s ease;
  }
}
